.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

/* .rt-td {
  min-width: fit-content;
} */

.modal-body {
    font-family: "EotE_Symbol-Regular_v1";
    src: local('EotESymbols');

}

.icon {
  height: 16px;
  width: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.category {
  border:5px solid red;
  margin: 15px;
  font-size:12px;
}

.quality {
  border:5px solid purple;
  margin: 15px;
  font-size:12px;
}